/* resets */

* {
  margin: 0;
  padding: 0;
}

.body {
  background-color: #000;
  padding: 5px;
}

/* giving the entire website a reveal class */

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

/* Adding the scrollbar effects */
/* Gradient Scrollbar */

body::-webkit-scrollbar {
  width: 10px;
}


body::-webkit-scrollbar-track {
  background-clip: content-box;
  background:  linear-gradient(0deg, rgba(255, 192, 203, 1) 0%, rgba(135, 206, 250, 1) 100%);
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: transparent; /* opacity: 0; should do the thing either */
  box-shadow: 0px 0px 0px 100000vh black;
}







/*  modifying specific content*/


.container {
  padding-top: 100px; 
  padding-bottom: 150px;
  height: 100%;
  width: 100%;
}

section h1 {
  padding-bottom: 10px;
}

/* giving the header-image and text keyframes */
#header-img {
  opacity: 1;
  animation: fadeIn;
  animation-duration: 3s;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
}
  100% {
    opacity: 1;
  }}






/* styling the mask of the header */
.mask {
  padding-top: 50px;
  padding-bottom: 50px;
  text-shadow: 0 0 5px pink, 0 0 10px lightSkyBlue, 0 0 15px #fff;
}

.mask .btn {
    width: 200px;
  padding: 10px;
  background-color: transparent;
  color: #fff;
   text-shadow: 0 0 4px #fff, 0 0 8px lightSkyBlue, 0 0 12px pink, 0 0 16px #333;
  border: .5px solid #fff;
  border-radius: 50px;
  font-family: ;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
    transition: .3s ease-in-out all;
}

.mask .btn:hover {
    background-color: #fff;
  color: #000;
  border: .5px solid #000;
  text-shadow: ;
  box-shadow: 0 0 4px #fff, 0 0 8px lightSkyBlue, 0 0 12px pink, 0 0 16px #fff, 0 0 20px #333;
}


/* adding background to header */

.bg-image {
  height: 100vh;
  padding-top: 100px;
  background-size: cover;
  background-position: center;
}

/*  */



/* styling the about me section */
#section-about-me {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #000;
  text-shadow: 0 0 5px pink, 0 0 10px lightSkyBlue, 0 0 15px #fff, 0 0 20px #000;
}

/* styling profile picture */

#profile-img {
  margin-top: 20px;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  box-shadow: 0 0 10px pink, 0 0 20px lightSkyBlue, 0 0 30px #fff;
}

#introduction {
  border-radius: 30px;
  text-align: center;
  color: #fff;
  margin-top: 20px;
}

#introduction h1 {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}

#introduction ul {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}





/* styling the unordered list */
#aboutMeList {
  text-align: left;
  color: #fff;
   list-style-type: disc;
    text-shadow: 0 0 5px pink, 0 0 10px lightSkyBlue, 0 0 15px #fff, 0 0 20px #000;
}

/* styling the about me button leading to projects */


#view-work  {
  width: 150px;
  margin-top: 10px;
padding: 10px;
background-color: transparent;
color: #fff;
 text-shadow: 0 0 4px #fff, 0 0 8px lightSkyBlue, 0 0 12px pink, 0 0 16px #333;
border: .5px solid #fff;
border-radius: 50px;
font-size: 12px;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 1px;
cursor: pointer;
  transition: .3s ease-in-out all;
}

#view-work:hover {
  background-color: #fff;
color: #000;
border: .5px solid #000;
box-shadow: 0 0 4px #fff, 0 0 8px lightSkyBlue, 0 0 12px pink, 0 0 16px #fff, 0 0 20px #333;
}


/* styling the projects section */
#section-projects {
  position: relative;
  background-color: #000;
}

#section-projects img {
  height: 200px;
  width: 100%;
}

#section-projects .btn {
  width: 120px;
  padding: 10px;
  background-color: #000;
  color: #fff;
   text-shadow: 0 0 4px #fff, 0 0 8px lightSkyBlue, 0 0 12px pink, 0 0 16px #333;
  border: .5px solid #fff;
  border-radius: 50px;
  font-family: ;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: .3s ease-in-out all;
}

#section-projects .btn:hover {
  background-color: #fff;
  color: #000;
  border: .5px solid #000;
  text-shadow: ;
  box-shadow: 0 0 4px #fff, 0 0 8px lightSkyBlue, 0 0 12px pink, 0 0 16px #fff, 0 0 20px #333;
}

h1 {
  text-align: center;
  color: #fff;
   text-shadow: 0 0 5px pink, 0 0 10px lightSkyBlue, 0 0 15px #fff;
}

#section-projects .card {
  height: 420px !important;
  background-color: #000 !important;
  justify-content: center !important;
  text-align: center !important;
  margin-bottom: 20px !important;
  border: .5px solid #fff !important;
  box-shadow: 0 0 2px #fff, 0 0 4px lightSkyBlue, 0 0 6px pink, 0 0 8px #333 !important;
}

.card-text {
  text-align: left;
}


.card h5 {
    text-align: center;
  color: #fff;
   text-shadow: 0 0 5px pink, 0 0 10px lightSkyBlue, 0 0 15px #fff;
}

#section-projects .card ul {
  color: #fff;
  text-align: left;
  border-radius: 5px;
}

/* section projects iframe */
.iframe {
  width: 100%;
  height: 100%;
}

#project1Content, #project2Content, #project3Content {
  position: relative;
  height: 420px;
  width: 100%;
}

/* Adding the hidden projects section */

/* hidden iframe */
.hidden {
  text-align: center;
  display: none;
  width: 100%;
  height: 600px;
}

/* hide button on iframe */
.hide {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0px;
  right: 0px;
  z-index: 2;
  padding: 10px;
  background-color: black;
  border: 1px solid lightskyblue;
  color: lightskyblue;
  border-radius: 10%;
  cursor: pointer;
  text-decoration: none;
  transition: ease 0.35s all;
}

/* giving the hide button hover effects */

.hide:hover {
  text-decoration: none;
  background-color: black;
  color: lightskyblue;
  border-radius: 10%;
  box-shadow: 0 0 30px pink;
  text-shadow: 0 0 1px pink, 0 0 2px yellow;
  transition: ease 0.30s all;
}

/*  styling the actual projects */

#project1, #project2 {
  height: 100%;
  width: 100%;
  z-index: 50;
}

/* Adding the hidden projects section */





/* styling the services section */
#section-services {
  position: relative;
  background-color: #000;
}

#section-services h1 {
  text-align: center;
  color: #fff;
   text-shadow: 0 0 5px pink, 0 0 10px lightSkyBlue, 0 0 15px #fff;
}




#section-services .card {
  background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) center no-repeat;
  background-size: cover;
  color: #fff;
    justify-content: center;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 0 2px #fff, 0 0 4px lightSkyBlue, 0 0 6px pink, 0 0 8px #fff, 0 0 10px #333;
  transition: .3s ease-in-out all;
}

#section-services .card-header {
  margin-bottom: 40px;
}

#section-services .card-header h3 {
  font-family: ;
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  text-shadow: 0 0 4px #fff, 0 0 8px lightSkyBlue, 0 0 12px pink, 0 0 16px #333;
  border-bottom: 1px groove #fff;
  padding: 10px;
}

#section-services .card-header h1 {
  font-family:;
  font-size: 35px;
  font-weight: 300;
}


#section-services .card-header span {
  font-size: 18px;
}

#section-services .card-body {
  margin-bottom: 60px;
}

#section-services .card-body li {
  list-style: none; 
  font-family: ;
  font-size: 16px;
  font-weight: 300;
  margin: 15px 0;
}

#section-services .card-body i {
  margin-right: 25px;
}

#section-services .card-body .fa-check {
  color: #0d683a;
}

#section-services .card-body .fa-times {
  color: #911832;
}

#section-services .card-footer {
  margin-bottom: 20px;
}

#section-services .card-footer button {
  width: 120px;
  padding: 10px;
  background-color: #000;
  color: #fff;
   text-shadow: 0 0 4px #fff, 0 0 8px lightSkyBlue, 0 0 12px pink, 0 0 16px #333;
  border: .5px solid #fff;
  border-radius: 50px;
  font-family: ;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
    transition: .3s ease-in-out all;
}

#section-services .card-footer button:hover {
  background-color: #fff;
  color: #000;
  border: .5px solid #000;
  text-shadow: ;
  box-shadow: 0 0 4px #fff, 0 0 8px lightSkyBlue, 0 0 12px pink, 0 0 16px #fff, 0 0 20px #333;
}








/* styling the contact section */
#section-contact {
  width: 100%;
  background-color: #000;
  overflow: hidden;
}

#contact-email {
  text-align: center;
}


#section-contact i {
  text-align: center;
  color: white;
  font-size: 50px;
}








/* styling the footer */

#footer {
  position: relative;
  border: 1px solid #fff;
  background-color: #333;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}

#section-footer {
  padding-bottom: 10px;
}